*
  box-sizing: border-box
body
  +reg
img
  max-width: 100%
.container
  max-width: 1170px
  margin: 0 auto
.button
  background-color: $primary-color
  border: none
  border-radius: 10px
  padding: 18px 28px
  font-size: 13px
  +bold
  outline: none
  transition: 0.3s
  &:hover
    background-color: #0000ff
    color: #ffffff
    cursor: pointer
.section
  padding: 55px 0 44px 0
  &-title
    font-size: 24px
    +bold
  &-subtitle
    font-size: 16px
.input
  border: 1px solid $border-input
  padding: 23px 26px
  font-size: 15px
  border-radius: 10px
  outline: none
  &:focus
    border: 1px solid orange
.btn-top
  position: fixed
  display: none
  bottom: 40px
  right: 40px
  padding: 10px 10px 5px 10px
  border: 2px solid $primary-color
  border-radius: 50%
