@media (max-width: 1200px)
  .container
    max-width: 760px
@media (max-width: 768px)
  .container
    max-width: 650px
    width: 90%
  .header
    &__contacts
      display: none
    &__button
      font-size: 12px
      padding: 15px 26px
    &__logo
      width: 90px