@media (max-width: 1200px)
  .container
    max-width: 760px
  .hero
    &-block
      flex-direction: column
    &-list
      margin-bottom: 44px
    &-text
      padding-right: 10px
  .offer
    background-size: cover
    &__input
      width: 100%
      margin-bottom: 10px
    &__button
      font-size: 13px
    &__callback
      flex-basis: 70%
      margin-bottom: 10px
@media (max-width: 768px)
  .container
    max-width: 650px
    width: 90%
  .header
    &__contacts
      display: none
    &__button
      font-size: 12px
      padding: 15px 26px
    &__logo
      width: 90px
  .hero
    &-text
      &__title
        font-size: 24px
        line-height: 1.4
        margin-bottom: 15px
      &__subtitle
        font-size: 16px
        margin-bottom: 28px
    &-list
      &__item
        margin-bottom: 20px
      &__text
        max-width: 210px
        font-size: 12px
      &__image
        margin-right: 15px
  .offer
    background: #ffffff
    &-block
      width: 100%
      padding-right: 0
@media (max-width: 375px)
  .header
    padding: 16px 0
    &-wraper
      justify-content: center
    &__logo 
      margin-right: 49px
    &__button
      font-size: 10px
      padding: 13px 25px
      border-radius: 5px