body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  background-repeat: 10px;
  background-color: #ffd200;
  border: none;
  border-radius: 10px;
  padding: 18px 30px;
  font-size: 13px;
  font-weight: 700;
}

.header {
  padding: 8px 0;
}

.header-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.header__adress {
  margin-bottom: 10px;
  font-size: 13px;
}

.header__phone {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 120px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 40px;
}

.hero-text__subtitle {
  display: inline-block;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  margin-right: 30px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.hero-list__text {
  max-width: 275px;
  font-size: 14px;
  line-height: 24px;
}

.hero-image__item {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .container {
    max-width: 760px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 650px;
    width: 90%;
  }
  .header__contacts {
    display: none;
  }
  .header__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .header__logo {
    width: 90px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    max-width: 210px;
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=main.css.map */